* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.flexible-area {
    display: flex;
}

h1 {
    font-size: 50px;
}

.blue-color {
    color: rgb(88, 88, 211);
}

.dummy-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.half-width {
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
}

.half-width h1 {
    border-left: 5px solid rgb(255, 89, 89);
    padding-left: 10px;
}

.img-size {
    width: 60%;
}

.linked-button {
    text-decoration: none;
    background-color: rgb(187, 98, 34);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
}

.paragraph-text {
    margin-top: 35px;
}