* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.flexible-area {
    display: flex;
}

h1 {
    font-size: 50px;
}

.mission-area h2{
    text-align: center;
    font-size: 30px;
}

.blue-color {
    color: rgb(88, 88, 211);
}

.dummy-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}

.half-width h1 {
    border-left: 5px solid rgb(255, 89, 89);
    padding-left: 10px;
}


.img-size {
    width: 60%;
    margin-left: 35%;
}

.linked-button {
    text-decoration: none;
    background-color: rgb(187, 98, 34);
    padding: 20px 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.paragraph-text {
    margin-top: 35px;
}

.mission-img-size{
    width: 70%;
}

.mission-half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 2%;
    background-color: rgb(237, 245, 246);
    padding-left: 2%;
    padding-right: 2%;
}

.orange-color{
    color: orange;
}

.tomato-color{
    color: rgb(61, 13, 4);
}

.develop-half-width img{
    width: 500px;
    height: 400px;
}

.develop-half-width h2{
    font-size: 30px;
}

.develop-half-width{
    width: 50%;
    margin-left: 5%;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#blueviolet-color{
    color: blueviolet;
}

small{
    font-weight: lighter;
}

.Myself-section{
    text-align: center;
    background-color: rgb(162, 152, 192);
    
    padding: 20px 5px;
}

.Myself-section h2{
    font-size: 50px;
}